.contact-head h1{
  font-size: 46px;
  color: #2ec4b6;
  font-family: 'Saira Condensed', sans-serif;
}

.contact-head p{
  font-size: 18px;
  color: #212529;
}

.contact-form .form-label{
font-size: 16px;
}

.contact-form .form-control{
  font-size: 14px;
  height: 40px;
}

.contact-info{
  border-radius: 2rem;
  background-color: #e5f9f8;
}

.contact-wrap{
  margin-bottom: 6rem;
}

.contact-info p{
 font-size: 14px;
 margin-bottom: 0.2rem;
}

.txt-area{
  min-height: 80px;
}

@media (max-width: 575.98px) {
  .contact-head h1{
    font-size: 30px;
  }
  .contact-head p{
    font-size: 14px;
  }

}
