<div class="container mt-5">
  <div class="w-100 contact-head mb-5 text-center">
    <h1>We'd love to hear from you</h1>
    <p>whether you're curious about features, or even press - we're ready to answer any and all questions.</p>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4 d-flex column gap2 contact-form">
      <div>
        <label class="form-label">Name</label>
        <input class="form-control" placeholder="Enter your Name">
      </div>
      <div>
        <label class="form-label">Phone Number</label>
        <input class="form-control" placeholder="Enter your Phone Number">
      </div>
      <div>
        <label class="form-label">Email</label>
        <input class="form-control" placeholder="Enter your Email">
      </div>
      <div>
        <label class="form-label">Message</label>
        <textarea class="form-control txt-area" rows="6" placeholder="Enter the Message"></textarea>
      </div>
      <div class="mb-3 end">
        <button type="button" class="btn btn-primary mt-3" style="border-radius: 4px;">Submit Details</button>
      </div>
    </div>

    <div class="col-md-6 end contact-wrap">
      <div class="ms-5 h-100 p-5 contact-info center">
        <div>
          <span class="bold my-1">WE'RE HERE FOR YOU </span>
          <p class="">Our Experts are happy to answer any of your queries.</p>
          <p class="">Call, Whatsapp, or email us and we'll get back to you at the earliest.
          </p>
          <p class="">We're available, Mon to Saturday: 10am - 7pm</p>
          <div class="my-5"></div>
          <span class="bold my-1">GET IN TOUCH: </span>
          <p class="">Call (Chargeable): +91 9999999999</p>
          <p class="">Or you can reach us via email at <a href="mailto:rasoiware@gmail.com">rasoiware@gmail.com</a> and
            expect a response within 24-48 hours.</p>
          <p class="">WhatsApp: +91 9999999999</p>
        </div>
      </div>
    </div>
  </div>
</div>