<!-- <section class="container">
  <div class="bread-crumb">
    <div class="bread-items">
      <span class="txt bold">Home</span>
      <i class="fa-solid fa-play mx-3"></i>
    </div>
    <div class="bread-items">
      <span class="txt bold">Products</span>
      <i class="fa-solid fa-play mx-3"></i>
    </div>
    <div class="bread-last-item">
      <span>New Products</span>
    </div>
  </div>
</section> -->

<section class="container-fluid">
  <img class="head-img" src="assets/images/products.jpeg" alt="">
</section>

<section class="container">
  <div class="">
    <h1>Most Selling Products</h1>
  </div>
  <div class="most-selling row">
    <div class="col col-sm-6 col-md-4 col-lg-3" *ngFor="let i of mostSellingProducts">
      <div class="">
        <app-prd-card [prdInfo]="i"></app-prd-card>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="">
    <h1>Choose by Brand</h1>
  </div>
  <div class="overflow-scroll ps-4">
    <div class="brand-container">
      <div class="brand me-3 mb-3" *ngFor="let brand of brandList;">
        <span class="icn ms-2">
          <p>
            {{brand.charAt(0).toUpperCase()}}
          </p>
        </span>
        <span class="txt">{{brand}}</span>
      </div>
    </div>
  </div>
</section>

<section class="container">

  <div class="row">
    <div class="col-6">
      <h1>Hand-picked Home Decor</h1>
      <div class="bgnd-light">
        <div class="row">
          <div class="col-6">
            <img src="../../../assets/images/carousel-1.png" alt="">
            <span class="mt-2 sub-head">Contemporary Decor | Up to 70% off</span>
          </div>
          <div class="col-6">
            <img src="../../../assets/images/carousel-3.png" alt="">
            <span class="mt-2 sub-head">Decorations and Many more</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <img src="../../../assets/images/carousel-2.png" alt="">
            <span class="mt-2 sub-head">Freshly Launched Precious Gifting</span>
          </div>
          <div class="col-6">
            <img src="../../../assets/images/carousel-1.png" alt="">
            <span class="mt-2 sub-head">Simplify and Style your Home | Up to 60% off</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h1>Home and Appliances</h1>
      <div class="bgnd-light">
        <div class="row">
          <div class="col-6">
            <img src="../../../assets/images/carousel-1.png" alt="">
            <span class="mt-2 sub-head">Shopping for Dining room</span>
          </div>
          <div class="col-6">
            <img src="../../../assets/images/carousel-2.png" alt="">
            <span class="mt-2 sub-head">Top Picks for you</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <img src="../../../assets/images/carousel-3.png" alt="">
            <span class="mt-2 sub-head">Trending Deals</span>
          </div>
          <div class="col-6">
            <img src="../../../assets/images/carousel-1.png" alt="">
            <span class="mt-2 sub-head">Shop for Home & Kitchen Upgrade</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="container">

  <div class="row">
    <div class="col-6">
      <h1>Special in Gifts & More</h1>
    </div>
  </div>

</section>