.material-icon {
  font-size: 28px;
  width: 28px !important;
  height: 28px !important;
  color: #4d4d4d;
  transition: color 0.3s ease;
  transition: transform .2s;
  position: relative;
  cursor: pointer;
}

.material-icon:hover {
  color: #4285F4;
  transform: scale(1.2);
}

.mat-icon-box {
  padding: 10px 10px 4px 10px;
  border-radius: 6px;
  margin: 10px 0px;
}

.mat-icon-box:hover {
  background-color: #fff;
}

.active {
  background-color: #4285F4;
}

.active .material-icon {
  color: #fff
}

.active:hover {
  background-color: #4285F4;
}

.side-box {
  overflow-y: auto;
}