<footer class="footer">
    <div fxLayout="row" fxLayoutAlign="space-around center" class="container">
        <div fxLayout="column">
            <h4>SUBSCRIBE TO OUR NEWSLETTER</h4>
            <span>Subscribe to email alerts. We promise not to spam your inbox.</span>
            <div fxLayout="row" fxLayoutGap="10px">
                <input type="text" placeholder="Email Address" style="width: 280px;">
                <button class="subscribe-button">
                    <span class="icon">Subscribe</span>
                </button>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f" layout="m-10"></i></a>
                <a href="#"><i class="fab fa-twitter" layout="m-10"></i></a>
                <a href="#"><i class="fab fa-instagram" layout="m-10"></i></a>

            </div>
        </div>
        <div fxLayout="column">
            <h4>ABOUT RASOIWARE</h4>
            <span class="animated-span">Our Story</span>
            <span class="animated-span">Contact Us</span>
            <span class="animated-span">Blogs & Recipes</span>
            <span class="animated-span">Member Login</span>
            <span class="animated-span">Gift Card</span>
        </div>
        <div fxLayout="column">
            <h4>OUR POLICIES</h4>
            <span class="animated-span">Return Policy</span>
            <span class="animated-span">Terms & Conditions</span>
            <span class="animated-span">Privacy Policy</span>
            <span class="animated-span">Rasoiware T&C</span>
            <span class="animated-span">Investor</span>
        </div>
        <div fxLayout="column">
            <h4>INFORMATION</h4>
            <span class="animated-span">E-Recipe Books</span>
            <span class="animated-span">Warranty Details</span>
            <span class="animated-span">Track Your Order</span>
            <span class="animated-span">Replace Your Product</span>
            <span class="animated-span">Corporate Gifting</span>
        </div>
    </div>
</footer>