@keyframes ldio-ffoa8v2liqi {
  0% {
    transform: scale(1.2100000000000002)
  }

  100% {
    transform: scale(1)
  }
}

.loader-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
}

.ldio-ffoa8v2liqi div {
  position: absolute;
  width: 72.35999999999999px;
  height: 72.35999999999999px;
  top: 18.76px;
  left: 18.76px;
  background: #4285f4;
  animation: ldio-ffoa8v2liqi 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.3s;
}

.ldio-ffoa8v2liqi div:nth-child(2) {
  top: 18.76px;
  left: 109.88px;
  background: #db4437;
  animation-delay: -0.2s;
}

.ldio-ffoa8v2liqi div:nth-child(3) {
  top: 109.88px;
  left: 18.76px;
  background: #0f9d58;
  animation-delay: 0s;
}

.ldio-ffoa8v2liqi div:nth-child(4) {
  top: 109.88px;
  left: 109.88px;
  background: #f4b400;
  animation-delay: -0.1s;
}

.loadingio-spinner-cube-zelsf9pclo {
  width: 201px;
  height: 201px;
  display: inline-block;
  overflow: hidden;
  /* background: #ffffff; */
}

.ldio-ffoa8v2liqi {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  background-color: transparent;
}

.ldio-ffoa8v2liqi div {
  box-sizing: content-box;
}