p {
  margin: 0;
  padding: 0;
}

.card {
  border: 1px solid #adb5bd;
  border-radius: 1rem;
  background-color: #fff;
  min-height: 25rem;
  cursor: pointer;
}

.card .img {
  height: 80%;
  width: 80%;
}

.img-emp {
  width: 100px;
  height: 100px;
}

.ctgry-blck span {
  background-color: #e5f9f8;
  padding: 0.3rem 1rem 0.2rem 1rem;
  border-radius: 1rem;
  color: #2ec4b6;
  font-size: 10px;
}

.name-block {
  height: 44px;
}

.prd-name {
  width: 100%;
  font-size: 12px;
  text-align: center;
  max-height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.price-txt {
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.buy-btn {
  width: 85%;
}

.buy-btn .btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 12px;
}

.price {
  font-size: 14px;
}

.cut-txt {
  color: #ff6b6b;
  font-size: 10px;
  text-decoration: line-through;
}

@media (min-width:575.98px) {

  .card {
    /* max-width: 150px; */
  }

  .prd-name {
    font-size: 14px;
  }

  .buy-btn .btn {
    font-size: 14px;
  }

  .buy-btn {
    width: 75%;
  }

  .card .img {
    min-width: 120px;
    min-height: 120px;
  }

  .card .img-emp {
    width: 210px;
    height: 210px;
  }

  .price {
    font-size: 20px;
  }

  .name-block {
    height: 44px;
  }

  .ctgry-blck span {
    font-size: 12px;
  }

}

@media (min-width:768.98px) {

  .price {
    font-size: 22px;
  }

  .ctgry-blck span {
    font-size: 14px;
  }

  .cut-txt {
    font-size: 12px;
  }

}

@media (min-width:991.98px) {

  .price {
    font-size: 22px;
  }

  .ctgry-blck span {
    font-size: 16px;
  }

  .prd-name {
    font-size: 16px;
  }

  .buy-btn .btn {
    font-size: 16px;
  }

  .img {
    min-width: 150px;
    min-height: 150px;
  }

  .img-emp {
    width: 150px;
    height: 150px;
  }

  .name-block {
    height: 50px;
  }
}