.footer{
  background-color: #212529;
}

.ftr-head {
  /* font-weight:; */
  margin-bottom: 15px;
  font-size: 16px;
  color: #fff;
}

.sm-txt {
  font-size: 14px;
  color:#fff
}

.news-ltr .form-control input{
  height: 30px;
}

.news-ltr .form-control{
  max-width: 350px;
  margin-right: 2rem;
  height: 40px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.news-ltr .form-control:focus{
  border-color: #2ec4b6;
  box-shadow: 0 0 0 0.25rem #2ec4b650;
}

.news-ltr .form-group .btn-primary{
  background-color: #2ec4b6;
  border-color: #2ec4b6;
}

.news-ltr .form-group .btn-primary:hover{
background-color: #96e2d9;
border-color: #96e2d9;
}

.news-ltr .form-group .btn:active{
  background-color: #2ec4b6;
  border-color: #2ec4b6;
}
