.logo img {
  width: 60px;
  height: 60px;
}
.logo .txt{
  color: #fff;
}
.logo :hover{
  cursor: pointer;
  color: #2ec4b6;
}

.input-group{
  width: 90%;
  transition: width 0.3s ease;
}

.nav-search .form-control {
  font-size: 14px;
  height: 36px;
  border-radius: 30px;
  border-color: #2ec4b6;
}

.form-control:focus{
  box-shadow: 0 0 0 0.25rem #2ec4b550
}

.nav-search .btn {
  border-radius: 0px 30px 30px 0px;
  font-size: 14px;
  background-color: #2ec4b6;
  border-color: #2ec4b6;
  color: #fff;
}

.log-cart i {
  font-size: 20px;
  color: #fff;
}
.log-cart .txt{
  color: #fff;
}

.log-cart .login:hover, .log-cart .cart:hover{
  cursor: pointer;
}
.icn i,
.txt {
  transition: color 0.3s;
}

.login:hover .icn i,
.login:hover .txt, .cart:hover .icn i, .cart:hover .txt {
  color: #2ec4b6;
}

.nav-links .link{
  color: #fff;
}

.nav-links i{
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s ease-out;
}
.nav-links i:hover{
color: #2ec4b6;
}
 .link:hover{
  text-decoration: underline;
}

.main-nav{
  background-color: #011627;
  height: 80px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.login.modal {
  --bs-modal-width:70%;
  top:6%;
}

.config-list{
  display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
}

.config-item{
  color: #fff;
  border: 1px solid white;
  font-size: 14px;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.config-item:hover{
  background-color: #2ec4b6;
}

.logout{
  font-size: 16px;
}
.logout:hover{
  color: #2ec4b6;
}

@media (max-width: 1199.98px) {
  .home-container {
    font-size: 16px;
  }
  .nav-links {
    font-size: 16px;
  }
}

@media (max-width: 991.98px) {

  .logo .img{
    width: 50px;
    height: 50px;
  }
  .logo .txt{
    font-size: 14px;
  }

  .gap3{
    gap:2rem;
  }

  .cart .txt,
  .login .txt {
    display: none;
  }

  .log-cart i {
    font-size: 22px;
  }
}

@media (max-width: 767.98px) {

  .gap3{
    gap:1rem;
  }
}

@media (max-width: 575.98px) {

  .main-nav{
    height: 60px;
  }

  .gap3{
    gap: 0.6rem;
  }

  .nav-search .form-control{
    font-size: 14px;
    height: 35px;
    border-radius: 30px;
  }

  .logo img {
    width: 40px;
    height: auto;
  }

  .hmbrgr i:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    color: #2ec4b6;
  }

  .nav-search .btn i {
    padding: 0 0.3rem 0 0.3rem;
  }
  .log-cart .icn i{
    font-size: 18px;
  }

  .fs-16{
    font-size: 12px;
  }

  .login-modal .modal-lg{
    max-width:160px !important;
    margin-right: 1.5%;
    margin-top: 50px;
    margin-left: auto;
  }
  .config-item span{
    font-size: 12px;
  }
  .logout{
    font-size: 14px;
  }
}

@media (max-width: 449.98px) {

  .input-group .btn span{
    display: none;
  }

  .input-group{
    width: 100%;
  }

}

.login-modal .modal-lg{
  max-width:200px;
  margin-right: 1.5%;
  margin-top: 50px;
  margin-left: auto;
}

.login-modal .modal-content{
  background-color: #011627;
}

.custom.show{
  opacity: 0;
}
