<!-- <div class="home-container"> -->
<section class="main-nav center">
  <div class="container row">
    <div class="hmbrgr center col-1">
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="logo col-sm-1 col-md-1 col-lg-2 col-2 center">
      <img src="assets/rasoiware.png" alt="RasoiWare">
      <span class="txt">Rasoiware</span>
    </div>
    <div class="nav-search col-sm-4 col-md-4 col-lg-3 col-6 center">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="">
        <button class="btn btn-outline-secondary" type="button">
          <i class="fa-solid fa-magnifying-glass me-lg-2"></i>
          <span>Search</span>
        </button>
      </div>
    </div>
    <div class="nav-links col-6 col-sm-5 col-md-5 col-lg-5 col-xl-5 around">
      <span class="">Categories</span>
      <span class="">Products</span>
      <span class="">Contact Us</span>
    </div>
    <div class="col-3 col-sm-2 col-lg-2 col-xl-2 around log-cart">
      <div class="cart d-flex">
        <span class="icn"><i class="fa-solid fa-cart-shopping me-3"></i></span>
        <span class="txt">Cart</span>
      </div>
      <div class="login d-flex" (click)="openModal(login)">
        <span class="icn"><i class="fa-solid fa-circle-user me-3"></i></span>
        <span class="txt">Login</span>
      </div>




    </div>
  </div>
</section>

<!-- </div> -->

<!-- ng-bootstrap modal -->
<ng-template #login let-modal>
  <div class="modal-header">
    <h4 class="">Login</h4>
  </div>
  <div class="modal-body">
    <!-- <p>One fine body&hellip;</p> -->
    This is a login component.
  </div>

</ng-template>