<section class="main-nav center">
  <div class="container row">
    <div class="logo col-2 col-lg-3 start" (click)="onHomeNavigation()">
      <img src="assets/rasoiware.png" alt="RasoiWare">
      <span class="txt">Rasoiware</span>
    </div>
    <div class="nav-search col-lg-6 col-7 end">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="">
        <button class="btn btn-outline-secondary" type="button">
          <i class="fa-solid fa-magnifying-glass me-lg-2"></i>
          <span>Search</span>
        </button>
      </div>
    </div>

    <div class="col-3 end gap4 log-cart">
      <div class="cart d-flex">
        <span class="icn"><i class="fa-solid fa-cart-shopping me-3"></i></span>
        <span class="txt">Cart</span>
      </div>
      <div class="login d-flex" (click)="openModal(login)">
        <span class="icn"><i class="fa-solid fa-circle-user me-3"></i></span>
        <span class="txt">Login</span>
      </div>
    </div>
  </div>
</section>


<!-- ng-bootstrap modal -->
<ng-template #login let-modal>
  <!-- <div class="modal-header">
    <button class="btn btn-primary w-100 fs-16" type="button" (click)="onLoginPopup()">Login</button>
  </div>
  <div class="modal-body end">
    <span class="link white">New member? &nbsp; Register</span>
  </div> -->

  <div class="modal-header">
    <div class="config-list">
      <div class="config-item" *ngFor="let item of configList;">
        <i class="fa-solid me-3" [ngClass]="item.iconName"></i>
        <span>{{item.itemName}}</span>
      </div>
    </div>
  </div>
  <div class="modal-body center">
    <span class="logout pointer white">Log Out</span>
  </div>

</ng-template>