.hmbrgr{
  display: none;
}

.logo img{
  width: 60px;
  height: 60px;
}
.logo .txt{
  color: #fff;
}
.logo :hover{
  cursor: pointer;
  color: #2ec4b6;
}

.nav-search .form-control{
  font-size: 14px;
  height: 36px;
  border-radius: 30px;
  border-color: #2ec4b6;
}

.form-control:focus{
  box-shadow: 0 0 0 0.25rem rgba(221, 169, 72, 0.25)
}

.nav-search .btn{
  border-radius: 0px 30px 30px 0px;
  font-size: 14px;
  background-color: #2ec4b6;
  border-color: #2ec4b6;
  color: #fff;
}

.log-cart i{
  font-size: 20px;
  color: #fff;
}
.log-cart .txt{
  color: #fff;
}

.login:hover, .cart:hover{
  cursor: pointer;
}
.icn i,
.txt {
  transition: color 0.3s;
}

.login:hover .icn i,
.login:hover .txt, .cart:hover .icn i, .cart:hover .txt {
  color: #2ec4b6;
}

.nav-links .link{
  color: #fff;
}

.link:hover{
  text-decoration: underline;
  cursor: pointer;
}

.main-nav{
  background-color: #011627;
}

@media (max-width: 1199.98px) {
  .home-container{
    font-size: 16px;
  }

  .nav-search .btn i{
    display: none;
  }

}

@media (max-width: 991.98px) {

  .nav-links{
    font-size: 14px;
  }
  .logo .txt{
    display: none;
  }
  .cart .txt, .login .txt{
    display: none;
  }
  .log-cart i{
    font-size: 22px;
  }
}

@media (max-width: 767.98px) {
  .nav-search .btn i{
    display: block;
    padding: 0 1rem 0 1rem;
  }
  .nav-search .btn span{
    display: none;
  }
}

@media (max-width: 575.98px) {

  .main-nav{
    margin-top: 0.5rem;
  }
  .nav-search .form-control{
    font-size: 14px;
    height: 35px;
    border-radius: 30px;
  }

  .logo img{
    width: 50px;
    height: auto;
  }

  .nav-links{
    display: none;
  }
  .hmbrgr{
    display: flex;
  }
  .nav-search .btn i{
    padding: 0 0.3rem 0 0.3rem;
  }

 }
