<section class="main-nav center">
  <div class="container row">
    <div class="hmbrgr center col-2 d-flex d-sm-none">
      <i class="fa-solid fa-bars white"></i>
    </div>

    <div class="logo col-2 col-sm-1 col-md-2 center" (click)="onHomeNavigation()">
      <img src="assets/rasoiware.png" alt="RasoiWare">
      <span class="txt d-none d-md-flex">Rasoiware</span>
    </div>

    <div class="nav-search col-8 col-sm-5 center">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="">
        <button class="btn btn-outline-secondary center" type="button">
          <i class="fa-solid fa-magnifying-glass me-2"></i>
          <span>Search</span>
        </button>
      </div>
    </div>

    <div class="nav-links col-4 col-md-3 around white d-sm-flex d-none">
      <span class="link">Products</span>
      <span class="link">Contact Us</span>
    </div>

    <div class="col-2 end gap3 log-cart d-sm-flex d-none">
      <div class="cart d-flex">
        <span class="icn"><i class="fa-solid fa-cart-shopping me-3"></i></span>
        <span class="txt">Cart</span>
      </div>
      <div class="login d-flex" (click)="openModal(login)">
        <span class="icn"><i class="fa-solid fa-circle-user me-3"></i></span>
        <span class="txt">Login</span>
      </div>
    </div>

  </div>
</section>


<!-- ng-bootstrap modal -->


<ng-template #login let-modal>
  <div class="modal-header">
    <button class="btn btn-primary w-100 fs-16" type="button" (click)="onLoginPopup()">Login</button>
  </div>
  <div class="modal-body end">
    <span class="link white">New member? &nbsp; Register</span>
  </div>


  <!-- <div class="modal-header" (click)="orderDetails()">
    <div class="config-list">
      <div class="config-item" *ngFor="let item of configList;">
        <i class="fa-solid me-3" [ngClass]="item.iconName"></i>
        <span>{{item.itemName}}</span>
      </div>
    </div>
  </div>
  <div class="modal-body center">
    <span class="logout pointer white">Log Out</span>
  </div> -->

</ng-template>