/* .card {
    width: 40%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    flex-wrap: wrap;
    cursor: pointer;
    display: flex;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-content {
    padding: 8px;
    text-align: center;
}

.card-category {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
} */


.category-heading {
    background-color: #cb871c;
}