<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="my-orders mb-4">
                <p class="h2">My Orders</p>
                <p>View and edit all your pending, delivered, and returned orders here.</p>
                <div class="order-details">
                    <div class="bg-light d-inline-block p-3 mb-3">
                        <p class="h4 m-0 text-dark">Order #Ro374915036</p>
                    </div>
                    <p class="mb-0 d-flex justify-content-between align-items-center">
                        <span class="text-gray">Order Placed: Thur, 17th Nov 16</span>
                        <button type="button" class="btn btn-info ml-3">Track Order</button>
                    </p>
                    <div class="product-details d-flex">
                        <img src="assets/ftrd.png" alt="Product Image">
                        <div class="ms-3">
                            <p class="h4">Netting Mykonos Tunic Dress</p>
                            <p>By: Milly Thomas</p>
                            <div>
                                <p>Size: S</p>
                                <p>Qty: 1</p>
                                <p>Rs. 1250</p>
                            </div>
                        </div>
                    </div>
                    <p class="h5">Status</p>
                    <p>In-Transit</p>
                    <p class="h5">Delivery Expected by:</p>
                    <p>24 December 2016</p>

                    <p class="cancel-order">X CANCEL ORDER</p>
                    <p class="credit-card">Paid using Credit Card ending with 7543</p>
                    <p class="h6">Rs. 1250</p>
                </div>
            </div>
        </div>
    </div>
</div> -->


<section class="container-fluid order-container">
  <section class="container">


    <div class="order-head d-flex align-items-center">

      <h1>My Orders</h1>
      <div class="head-desc">
        <p>View and edit all your pending delivered,</p>
        <p>and returned orders here</p>
      </div>
    </div>

    <div class="order-content">

      <div class="content-head">
        <div class="order-id"></div>
        <div class="order-date"></div>
        <div class="track-btn"></div>
      </div>

      <div class="divider"></div>

      <div class="order-info">
        <div>
          <div class="order-img"></div>
          <div>
            <span class="prd-name"></span>
            <span class="prd-ctgy">Something</span>
            <span class="prd-price">1250</span>
          </div>
        </div>
        <div>
          <div>
            <span>Status</span>
            <span>In-Transit</span>
          </div>
          <div>
            <span>Delivery Expected by</span>
            <span>24 December 2000</span>
          </div>
        </div>
      </div>

    </div>


  </section>
</section>