<section class="container-fluid cty-nav">
  <div class="container d-flex justify-content-center pe-2 ps-2">
    <div class="category row nowrap">
      <ng-container *ngFor="let x of category;">
        <div class="column center ctgy-wrap" (click)="onCategoryNavigation(x.img)">
          <div class="icn center">
            <img src="assets/icons/{{x.img}}.svg" alt="" srcset="">
          </div>
          <span class="txt">{{x.name.toLocaleUpperCase()}}</span>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="custom-carousel">
  <ngb-carousel class="home-carousel" [showNavigationIndicators]="false">
    <ng-template ngbSlide *ngFor="let x of [1,2,3]; let i = index;">
      <div>
        <img src="assets/images/carousel-{{x}}.png" alt="Carousel {{i}} Image" />
      </div>
    </ng-template>
  </ngb-carousel>
</section>

<section class="popular-prd mt-5 mb-5">
  <div class="container">
    <div class="head row">
      <div class="col-6 start">
        <h1>Popular Products</h1>
      </div>
      <div class="col-6 end">
        <button type="button" class="view-btn btn btn-primary" (click)="openPopularProducts()">View All</button>
      </div>
    </div>
    <div class="cnt">
      <div class="row">
        <div class="col-6 col-md-4 col-lg-3" *ngFor="let i of popularProducts;">
          <app-prd-card [prdInfo]="i"></app-prd-card>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftr-banner">
  <div class="container">
    <div class="main row">
      <div class="col-4 text-center position-relative my-4">
        <div class="svg-container">
          <img class="svgStyle" src="assets/freeShipping.svg">
        </div>
        <span class="d-block bold mt-2 bnr-head">Free Shipping</span>
        <span class="d-block mt-1 bnr-txt">For all orders above ₹ 2000</span>
      </div>
      <div class="col-4 text-center position-relative my-4">
        <div class="background-box"></div>
        <div class="svg-container">
          <img class="svgStyle" src="assets/delivery.svg">
        </div>
        <span class="d-block bold mt-2 bnr-head">World Wide Delivery</span>
        <span class="d-block mt-1 bnr-txt">Delivery across the Globe</span>
      </div>
      <div class="col-4 text-center position-relative my-4">
        <div class="background-box"></div>
        <div class="svg-container">
          <img class="svgStyle" src="assets/securePayment.svg">
        </div>
        <span class="d-block bold mt-2 bnr-head">Secure Payment</span>
        <span class="d-block mt-1 bnr-txt">100% Secure Payment</span>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex justify-content-center mt-5 mb-5">
  <div class="container row">
    <div class="bst-ctgy col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 column">
      <h1>Best Categories</h1>
      <div class="bst-ctgy-wrap row">
        <div *ngFor="let x of bestCategories;" class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <div class="ctgry d-flex" (click)="onCategoryNavigation(x.img)">
            <div class="img center">
              <img src="assets/icons/{{x.img}}.svg" alt="{{x.name}}" srcset="">
            </div>
            <div class="ms-4 txt center bold">
              <span>{{x.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 mt-4 mt-md-0">
      <h1>Latest Products</h1>
      <div class="lst-prd-wrap pb-4 px-3 mt-3">
        <div class="row">
          <div class="col-6 col-lg-4" *ngFor="let i of latestProducts;">
            <app-prd-card [prdInfo]="i"></app-prd-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftr-banner">
  <div class="container">
    <div class="main row">
      <div class="col-4 text-center position-relative my-4">
        <div class="svg-container">
          <img class="svgStyle" src="assets/freeShipping.svg">
        </div>
        <span class="d-block bold mt-2 bnr-head">Free Shipping</span>
        <span class="d-block mt-1 bnr-txt">For all orders above ₹ 2000</span>
      </div>
      <div class="col-4 text-center position-relative my-4">
        <div class="background-box"></div>
        <div class="svg-container">
          <img class="svgStyle" src="assets/delivery.svg">
        </div>
        <span class="d-block bold mt-2 bnr-head">World Wide Delivery</span>
        <span class="d-block mt-1 bnr-txt">Delivery across the Globe</span>
      </div>
      <div class="col-4 text-center position-relative my-4">
        <div class="background-box"></div>
        <div class="svg-container">
          <img class="svgStyle" src="assets/securePayment.svg">
        </div>
        <span class="d-block bold mt-2 bnr-head">Secure Payment</span>
        <span class="d-block mt-1 bnr-txt">100% Secure Payment</span>
      </div>
    </div>
  </div>
</section>