<!-- <section class="container-fluid cty-nav">
  <div class="container pe-2 ps-2">
    <div class="category row nowrap">
      <ng-container *ngFor="let x of category;">
        <div class="col center ctgy-wrap">
          <div class="icn"></div>
          <span class="txt">{{x.toLocaleUpperCase()}}</span>
        </div>
      </ng-container>
    </div>
  </div>

</section>
<section class="custom-carousel">
  <ngb-carousel class="" [showNavigationIndicators]="false">
    <ng-template ngbSlide *ngFor="let x of [1,2,3,4]; let i = index;">
      <div class="picsum-img-wrapper">
        <img src="assets/{{x}}.jpg" alt="Random {{i}} slide" />
      </div>
    </ng-template>
  </ngb-carousel>
</section> -->





<!-- 

<section class="popular-prd">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="custom-heading">
          SUBSCRIBE TO OUR NEWSLETTER
        </div>
        <p class="small-text">Subscribe to email alerts. We promise not to spam your inbox.</p>
        <div class="form-group">
          <input type="text" class="form-control" id="inputField" placeholder="Email Address">
          <button type="button" class="btn btn-info mt-2">Subscribe</button>
        </div>
        <div class="social-icons mt-3">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="custom-heading">
          ABOUT WONDERCHEF
        </div>
        <p class="small-text">Our Story</p>
        <p class="small-text">Contact Us</p>
        <p class="small-text">Blogs & Recipes</p>
        <p class="small-text">Member Login</p>
        <p class="small-text">Gift Card</p>
      </div>
      <div class="col-md-2">
        <div class="custom-heading">
          OUR POLICIES
        </div>
        <p class="small-text">Return Policy</p>
        <p class="small-text">Terms & Conditions</p>
        <p class="small-text">Privacy Policy</p>
        <p class="small-text">Wonderpoints T&C</p>
        <p class="small-text">Investor</p>
      </div>
      <div class="col-md-2">
        <div class="custom-heading">
          INFORMATION
        </div>
        <p class="small-text">E-Recipe Books</p>
        <p class="small-text">Warranty Details</p>
        <p class="small-text">Track Your Order</p>
        <p class="small-text">Replace Your Product</p>
        <p class="small-text">Locate Brand Outlets</p>
        <p class="small-text">Franchise</p>
        <p class="small-text">Corporate Gifting</p>
      </div>
      <div class="col-md-2">
        <div class="custom-heading">
          ALSO AVAILABLE ON
        </div>
        <p class="small-text">Wonderchef.com.au</p>
        <p class="small-text">Wonderchef.us</p>
        <p class="small-text">wonderchef.uk</p>
      </div>
    </div>
  </div>
</section> -->




<!-- 
<section class="popular-prd">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xxl-4 col-xl-4">
        <div class="custom-heading">
          SUBSCRIBE TO OUR NEWSLETTER
        </div>
        <p class="small-text">Subscribe to email alerts. We promise not to spam your inbox.</p>
        <div class="form-group">
          <input type="text" class="form-control" id="inputField" placeholder="Email Address">
          <button type="button" class="btn btn-info mt-2">Subscribe</button>
        </div>
      </div>
      <div class="col-lg-3  col-xxl-2 col-xl-2">
        <div class="custom-heading">
          ABOUT WONDERCHEF
        </div>
        <p class="small-text d-none d-md-block">Our Story</p>
        <p class="small-text d-none d-md-block">Contact Us</p>
        <p class="small-text d-none d-md-block">Blogs & Recipes</p>
        <p class="small-text d-none d-md-block">Member Login</p>
        <p class="small-text d-none d-md-block">Gift Card</p>
      </div>
      <div class="col-lg-3  col-xxl-2 col-xl-2">
        <div class="custom-heading">
          OUR POLICIES
        </div>
        <p class="small-text d-none d-md-block">Return Policy</p>
        <p class="small-text d-none d-md-block">Terms & Conditions</p>
        <p class="small-text d-none d-md-block">Privacy Policy</p>
        <p class="small-text d-none d-md-block">Wonderpoints T&C</p>
        <p class="small-text d-none d-md-block">Investor</p>
      </div>
      <div class="col-lg-3  col-xxl-2 col-xl-2">
        <div class="custom-heading">
          INFORMATION
        </div>
        <p class="small-text d-none d-md-block">E-Recipe Books</p>
        <p class="small-text d-none d-md-block">Warranty Details</p>
        <p class="small-text d-none d-md-block">Track Your Order</p>
        <p class="small-text d-none d-md-block">Replace Your Product</p>
        <p class="small-text d-none d-md-block">Locate Brand Outlets</p>
        <p class="small-text d-none d-md-block">Franchise</p>
        <p class="small-text d-none d-md-block">Corporate Gifting</p>
      </div>
      <div class="col-lg-3  col-xxl-2 col-xl-2">
        <div class="custom-heading">
          ALSO AVAILABLE ON
        </div>
        <p class="small-text d-none d-md-block">Wonderchef.com.au</p>
        <p class="small-text d-none d-md-block">Wonderchef.us</p>
        <p class="small-text d-none d-md-block">wonderchef.uk</p>
      </div>
    </div>
  </div>
</section> -->