::-webkit-scrollbar {
  width: 20px;
  height: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2ec4b6;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.category {
  overflow-x: auto;
}

.category:hover {
  transition: all 0.1s ease-out;
}

.category .icn {
  height: 64px;
  width: 64px;
  padding: 4px;
  border-radius: 50%;
  border: 4px solid #2ec4b6;
}

.icn img {
  width: 40px;
  height: 40px;
}

.ctgy-wrap {
  min-width: 130px;
  width: 10%;
  height: 140px;
  cursor: pointer;
}

.ctgy-wrap:hover .icn{
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
}

.ctgy-wrap .txt {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #000;
  height: 45px;
}

.cty-nav {
  background-color: #e5f9f8;

}

.popular-prd .head h2{
  font-size: 24px;
  font-weight: 600;
}

.view-btn{
  font-size: 1.5rem;
  border-radius: 2rem;
  padding: 0.6rem 3rem;
  background-color: #2ec4b6;
  border-color: #2ec4b6;
}

.view-btn:hover{
  background-color: transparent;
  text-decoration: underline;
  border-color: #2ec4b6;
  color: #2ec4b6;
}

.cnt .row, .lst-prd-wrap .row, .bst-ctgy .row {
  --bs-gutter-y: 1.5rem;
}

.svgStyle {
  width: 16%;
}



.ftr-banner{
  background-color: #e5f9f8;
}

.bst-ctgy-wrap .ctgry{
  border: 4px solid #7ddcd3;
  border-radius: 10px;
  transition: transform 0.2s ease-out;
}
.bst-ctgy-wrap .ctgry:hover{
  transform: scale(1.05);

}
.bst-ctgy-wrap .ctgry .txt:hover{
  cursor: pointer;
}
.bst-ctgy-wrap .ctgry .img{
  width: 80px;
  height: 80px;
}
.bst-ctgy-wrap .ctgry .img img{
  width: 80%;
}

.bst-ctgy-wrap .txt{
  color: #011627;
  font-size: 22px;
}




@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {

  .bst-ctgy-wrap .ctgry .txt{
    font-size: 20px;
  }

  .lst-prd-wrap .row :nth-child(n+5),.cnt .row :nth-child(n+7){
    display: none;
  }

}

@media (max-width: 767.98px) {

  .bst-ctgy .row :nth-child(n+5), .cnt .row :nth-child(n+5){
    display: none;
  }
  .svgStyle{
    width: 30%;
  }
  .bnr-head{
    font-size: 18px;
  }
  .bnr-txt{
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {

  .custom-carousel,
  .custom-carousel img {
    height: 180px;
  }

  .view-btn{
    font-size: 1.2rem;
  padding: 0.6rem 2rem;
  }
  .svgStyle{
    width: 40%;
  }
  .bnr-head{
    font-size: 16px;
  }
  .bnr-txt{
    font-size: 14px;
  }

  .category .icn {
    height: 52px;
    width: 52px;
    border: 3px solid #2ec4b6;
  }

  .icn img {
    width: 30px;
    height: 30px;
  }

  .ctgy-wrap {
    min-width: 90px;
    height: 100px;
  }

  .ctgy-wrap .txt {
    font-size: 10px;
    height: 30px;
  }

}
