<div class="container mt-5">
    <h1>Privacy Policy</h1>
  
    <p>
      This Privacy Policy applies to your use of our websites and mobile websites (together, the "Site") and our mobile applications
      (together, the "App," and together with the Site, the "Service"). The Service includes websites and mobile applications operated by
      Rasoiware.com. Please review the privacy policy of that website or mobile application to understand how that website or mobile application
      operator processes your information.
    </p>
  
    <p>
      This Privacy Policy also applies to the information you provide to us after being presented with or directed to this Privacy Policy.
      This could be, for example, when you share your information with our service representatives (e.g. a customer service agent, design professional,
      or an installation or assembly pro) or send us a letter, email or chat. 
    </p>

      <p>Before submitting information to the Service, please review this Privacy Policy carefully.</p>

  
    <!-- Add more content as needed -->
  
    <h2>Information We Collect and How We Use Your Information</h2>
  <p>There are three general categories of information we collect: (1) Information you give to us; (2) 
    Information we automatically collect from your use of the Site or the App; (3) Information we collect from third parties.</p>
<p>We use your information in several different ways. What we do with your information depends on when we collect it and what we 
  collect.</p>


<h2>Information we automatically collect from your use of the Site or the App</h2>

    <ul>
      <li>Purchase history and saved items (such as what you bought and what you've placed in your cart or saved)</li>
      <li>Log data and device information (such as details about how you've used the Site or the App, IP address, access dates and times, hardware and software information, device information, device event information, unique identifiers, crash data, cookie data, location data and page/product views or clicks)</li>
      <li>Geo-location information (such as IP address, browser information or mobile GPS information)</li>
      <li>Cookies and similar technologies (such as web beacons, pixels, and mobile identifiers; to learn more about these technologies and how you can control them, see Our Cookie Policy)</li>
    </ul>
  

  <h2>Information we collect from third parties, </h2>
  <p>including third party services (for example if you link, connect, or login to the Site or the App with your Google, Facebook, Instagram or Twitter accounts) or other sources (such as your contacts or brands we partner with)</p>
    <ul>
      <li>Your name and contact details (such as your email address, mailing address, phone number and password)</li>
      <li>Social media handles (such as your Twitter or Instagram handle)</li>
      <li>Other information (such as demographic data, fraud detection information and information about you and your activities, experiences and interactions on and off the Site and the App)</li>

    </ul>
  
  
  
  
  <h2>Our Cookie Policy</h2>
  
    <p>
      We use cookies when you visit our Site and App to analyze traffic, optimize performance and content, and to provide an integrated and more
      personalized shopping experience for customers. Cookies are small text files that are stored by your Internet browser on your computer. While
      our cookies may change from time to time.
    </p>
  </div>
  