<section class="container">

  <div>
    <h1>My Orders</h1>
  </div>
  <nav class="mt-4">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
        role="tab" aria-controls="nav-home" aria-selected="true">Orders</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
        role="tab" aria-controls="nav-profile" aria-selected="false">Open Orders</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
        role="tab" aria-controls="nav-contact" aria-selected="false">Cancelled Orders</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <div class="px-5 my-4">
        <div class="order-container" *ngFor="let product of myOrderList; index as i">

          <div class="order-head">
            <div class="row">
              <div class="col-4">
                <p>{{product.orderStatusDesc}}</p>
              </div>
              <div class="col-4 center">
                <p>Order No:</p>
              </div>
              <div class="col-4 end">
                <p>Order Date:</p>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <p>Arriving By: 20/12/3002</p>
              </div>
              <div class="col-4 center">
                <p>{{product.orderNo}}</p>
              </div>
              <div class="col-4 end">
                <p>{{product.orderDate}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">B
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">C
    </div>
  </div>


</section>