
.user-details {
    background-color: #e5f9f8;
    padding: 20px;
    border-radius: 5px;
  }
  
  .user-icon {
    color: #2ec4b6;
  }
  
  .user-name {
    font-weight: bold;
    font-size: 18px;
  }
  

  .personal-information {
    background-color: #e5f9f8;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }
  

  .personal-info-heading {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    font-size: 46px;
    color: #2ec4b6;
  }
  
.edit-icon{
    color: #2ec4b6;
    cursor: pointer;
}
  .custom-input {
    height: 40px;
    font-size: 14px;
  }
  

  .form-check-label {
    font-size: 16px;
  }
  
  @media (max-width: 575.98px) {
    .user-name {
      font-size: 16px;
    }
    
    .form-check-label {
      font-size: 14px;
    }
  }
  