<div class="container">
    <div class="user-details col-3 d-flex align-items-center">
        <div class="user-icon my-4 mx-4">
            <i class="fas fa-user-circle fa-3x my-3"></i>
        </div>
        <div class="user-name">
            <span>Hello,</span>
            <span>Apeksha Verma</span>
        </div>
    </div>

    <div class="col-3">
    <div class="row mt-4 ">
        <div class="col-10">
            <span>My Orders</span>
        </div>
        <div class="col-2 text-right">
            <i class="fas fa-shopping-bag"></i>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-10">
            <span>Account Settings</span>
        </div>
        <div class="col-2 text-right">
            <i class="fas fa-cog"></i>
        </div>
    </div>
    <div class="row ml-4">
        <div class="col-12">
            <span>Profile Information</span>
        </div>
        <div class="col-12">
            <span>Manage Addresses</span>
        </div>
        <div class="col-12">
            <span>PAN Card Information</span>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-10">
            <span>Payments</span>
        </div>
        <div class="col-2 text-right">
            <i class="fas fa-credit-card"></i>
        </div>
    </div>
    <div class="row ml-4">
        <div class="col-12">
            <span>Gift Cards</span>
        </div>
        <div class="col-12">
            <span>Saved UPI</span>
        </div>
        <div class="col-12">
            <span>Saved Cards</span>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-10">
            <span>My Stuff</span>
        </div>
        <div class="col-2 text-right">
            <i class="fas fa-cubes"></i>
        </div>
    </div>
    <div class="row ml-4">
        <div class="col-12">
            <span>My Coupons</span>
        </div>
        <div class="col-12">
            <span>My Reviews & Ratings</span>
        </div>
        <div class="col-12">
            <span>All Notifications</span>
        </div>
        <div class="col-12">
            <span>My Wishlist</span>
        </div>
    </div>
    <hr>

    <div class="row mt-2">
        <div class="col-12 text-center">
            <span>Logout</span>
        </div>
    </div>
</div>
</div>
