<div>
  <img [src]="coverImage" class="card-img-top img-fluid mb-4" alt="Product Image">
</div>
<div class="container">
  <div class="row">

    <div class="d-md-none col-md-4">
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterOffcanvas">
        Filter Options
      </button>
    </div>
    <div class="col-md-4 d-none d-md-block mt-4">

      <h2 class="mb-2">Filter(s):</h2>

      <ngb-accordion [activeIds]="activeIds" #filterAccordion="ngbAccordion">
        <ng-container *ngFor="let filter of filters | keyvalue">
          <ngb-panel id="{{filter.key}}">
            <ng-template ngbPanelTitle>
              <h2 class="filter-heading">{{getFilterHeading(filter.key)}}</h2>
            </ng-template>
            <ng-template ngbPanelContent>
              <!-- <div class="p-lg-3 p-md-3 p-sm-4 p-2"> -->
              <div class="form-group">
                <div class="form-check d-flex align-items-center"
                  *ngFor="let val of getFilterValueInArray(filter.value); index as i;">
                  <input class="form-check-input" type="checkbox" id="{{i}}">
                  <label class="form-check-label ellipsis mt-2 ms-2" for="{{i}}">
                    <ng-container *ngIf="filter.key !== 'capacity' && filter.key !== 'size'">
                      {{val}}
                    </ng-container>
                    <ng-container *ngIf="filter.key === 'size'">
                      {{val.start + ' cm' + ' <= ' + val.end + ' cm'}} </ng-container>
                        <ng-container *ngIf="filter.key === 'capacity'">
                          {{val.start + ' <= ' + val.end}}
                    </ng-container>
                  </label>
                </div>
                <!-- </div> -->
              </div>
            </ng-template>
          </ngb-panel>
        </ng-container>

      </ngb-accordion>
    </div>
    <div class="col-md-8">

      <div class="lst-prd-wrap mt-4 p-3 mb-4">
        <div class="row">
          <div class="col-12 col-md-6 col-sm-6 col-lg-4 col-xl-4 col-xxl-4" *ngFor="let product of products">
            <app-prd-card [prdInfo]="product"></app-prd-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>