.grph {
  border-radius: 10px;
  background-color: #52b78899;
}

.icon-act-prd {
  padding: 10px;
  border-radius: 4px;
}

.crd-titl {
  color: #6c757d;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.txt-cnt {
  font-size: 40px;
  font-weight: 600;
  color: #495057;
}

.card {
  min-width: 200px;
  margin-bottom: 20px;
}