<div class="bg" fxHeight="100%" fxWidth="100%">

  <div fxLayout="row" fxAlign="space-between center">
    <div class="left" fxLayout="column">
      <h3 layout="m-l-30 m-t-10">Dashboard</h3>
      <div fxHeight="300px" fxWidth="400px">

      </div>

    </div>
    <div class="rght" layout="p-10" fxAlign="space-between center" fxWrap="wrap">

      <div class="card" fxHeight="100px" fxWidth="200px">
        <mat-card>
          hi
        </mat-card>
      </div>

      <div class="card" fxHeight="100px" fxWidth="200px">
        <mat-card>
          hi
        </mat-card>
      </div>
      <div class="card" fxHeight="100px" fxWidth="200px">
        <mat-card>
          hi
        </mat-card>
      </div>
      <div class="card" fxHeight="100px" fxWidth="200px">
        <mat-card>
          hi
        </mat-card>
      </div>

    </div>

  </div>

</div>