<section class="return-policy">
    <div class="container">
        <div class="policy-content">

            <div class="policy-section">

                <p class="policy-text">
                    When you shop with us, we want you to be completely satisfied. If you discover damage or a defect
                    after delivery,
                    contact Customer Care. We will work to resolve the issue and, in our sole discretion, we will:
                </p>
                <p class="policy-text">-Authorize a return &amp; Issue a replacement.</p>

                <p class="policy-text">
                    With reference to your concern, we would like to inform that we provide 100% replacement for major
                    manufacturing defects highlighted to us within the warranty period as per company policy. However,
                    no cash refund
                    is allowed once the article is purchased.
                </p>
            </div>

            <div class="policy-section">
                <h2 class="policy-subtitle">Cancellation Policy</h2>
                <ul class="policy-list">
                    <li>Cancellation before shipment:</li>
                </ul>

                <p class="policy-text">
                    If the order or the item(s) that you want to cancel have not been shipped yet, you can write to our
                    customer support
                    team on <a href="mailto:care@wonderchef.in">care@wonderchef.in</a> or call us on <a
                        href="tel:18602660788">18602660788</a>.
                </p>
                <p class="policy-text">
                    In such cases, the order will be canceled and the refund will be initiated within 24-48 business
                    hours after the
                    cancellation request.
                </p>

                <ul class="policy-list">
                    <li>Cancellation post shipment:</li>
                </ul>

                <p class="policy-text">
                    If you wish to cancel an order that has been shipped but has not yet been delivered, please get in
                    touch with our
                    Customer Support team on <a href="mailto:care@wonderchef.in">care@wonderchef.in</a> or call us on
                    <a href="tel:18602660788">18602660788</a>.
                </p>
                <p class="policy-text">
                    Once we receive the product(s) back and verify its packaging/condition, Post our examination we’ll
                    refund your money
                    within 24-48 business hours.
                </p>
            </div>

            <div class="policy-section">
                <h2 class="policy-subtitle">Refund Policy</h2>
                <p class="policy-text">
                    In the event where there are defects in the Product (attributable to, and accepted by Wonderchef
                    after due verification at its sole discretion), a User may initiate a request for returning the
                    Product on the Platforms. The User shall initiate such requests for a return not later than 7
                    (seven) days from the date on which he/she received the delivery of the Product
                </p>
                <p class="policy-text">
                    The User will be required to produce a copy of the original invoice at the time of placing a request
                    for return or exchange of Products. The User shall ensure that the Product(s) being returned comply
                    with the conditions set out under this Return and Refund Policy and are, among other conditions,
                    unused, intact, all packaging material undamaged and unused. Wonderchef reserves the right to alter
                    and enforce this Return and Refund Policy at any time without having to serve a prior notice on the
                    User.
                </p>
            </div>

            <div class="policy-section">
                <h2 class="policy-subtitle">What to Do for Incomplete, Incorrect, or Damaged Orders</h2>
                <p class="policy-text">
                    If your order is incomplete, incorrect, or damaged, please Contact Us via email <a
                        href="mailto:care@wonderchef.in">care@wonderchef.in</a> or call us on <a
                        href="tel:18602660788">18602660788</a> within 72 hours of receipt.
                </p>
                <p class="policy-text">
                    Our Customer Service hours are Monday-Saturday 10 a.m. – 6 p.m. (Lunch break: 1:30 PM to 2:00 PM).
                </p>
            </div>

        </div>
    </div>
</section>