<!-- <div class="container-fluid bg-light">
  <div class="row align-items-center">
    <div class="col">
      <i class="fas fa-envelope"></i>
      <span class="icon-text">apex@gmail.com</span>
    </div>
    <span class="divider"></span>
    <div class="col mail">
      <i class="fas fa-phone-alt"></i>
      <span>+91 7668804527</span>
    </div>
    <span class="divider"></span>
    <div class="col icon">
      <a href="#"><i class="fab fa-facebook mr-2"></i></a>
      <a href="#"><i class="fab fa-twitter mr-2"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div> -->

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/11.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/12.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/13.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/14.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>