<div class="container-fluid">
  <div class="row align-items-center bg-light py-2">
    <div class="col-md-6 text-center text-md-left">
      <i class="fas fa-envelope"></i>
      <span class="icon-text">apex@gmail.com</span>
      <span class="vertical-line"></span>
      <i class="fas fa-phone-alt"></i>
      <span>+91 7668804527</span>
    </div>
    <div class="col-md-6 text-center text-md-right">
      <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
      <span class="vertical-line"></span>
      <i class="fas fa-user"></i>
      <span>Login</span>
    </div>
  </div>
</div>