/* Responsive adjustments for small screens
@media (max-width: 767px) {
    .row.align-items-center {
        flex-direction: column;
        text-align: center;
    }

    .col-md-6.text-md-left,
    .col-md-6.text-md-right {
        width: 100%;
        margin-bottom: 10px;
    }
}

.icon-text {
    margin-left: 10px;
}

.vertical-line {
    border-left: 1px solid #ccc;
    height: 40px;
    margin: 0 10px;
    display: inline-block;
}

.icon a{
  margin-right: 20px;
}
.mail i{
  margin-right: 20px;
}


.divider{
  height:40px;
  width:1px;
  background: black;
  padding-right: 0;
  padding-left: 0;
} */
