<nav id="main-nav" class="navbar bg-body-tertiary container-fluid d-sm-flex flex-column">
  <div class="info d-flex align-items-center">
    <div class="d-flex align-items-center">
      <i class="fas fa-envelope"></i>
      <span class="ml-6">apex@gmail.com</span>
    </div>
    <div class="divider"></div>
    <div class="d-flex align-items-center">
      <i class="fas fa-phone-volume"></i>
      <span class="ml-6">+91 8459435959</span>
    </div>
  </div>
  <div class="info d-flex align-items-center">
    <div class="flex-gap align-items-center">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
    <div class="divider"></div>
    <div class="d-flex align-items-center">
      <i class="fas fa-user-circle"></i>
      <span class="ml-6">Login</span>
    </div>
  </div>
</nav>
<nav id="logo-nav" class="navbar black container-fluid around">
  <div class="logo center">
    <img src="assets/rasoiware.png" alt="" srcset="">
    <span class="logo-txt">RasoiWare</span>
  </div>
  <div class="input-group nav-search">
    <div role="group" ngbDropdown>
      <button type="button" class="btn btn-outline-primary" ngbDropdownToggle>
        <span class="drpdwn-txt">{{selectedValue}}</span>
        <i class="fa-solid fa-caret-down"></i>
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem>One</button>
        <button ngbDropdownItem>Two</button>
        <button ngbDropdownItem>Four!</button>
      </div>
    </div>
    <input type="text" class="form-control" placeholder="Search your kitchen here">
    <span class="search-icon center"><i class="fa-solid fa-magnifying-glass"></i></span>
  </div>
  <div class="cart align-items-center center">
    <i class="fa-solid fa-cart-shopping"></i>
  </div>
</nav>
<nav ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">

  <li ngbDropdown class="nav-item" role="presentation" *ngFor="let i of arr;">
    <button type="button" class="nav-link" ngbDropdownToggle>Dropdowni</button>
    <div ngbDropdownMenu>
      <button ngbDropdownItem>Action</button>
      <button ngbDropdownItem>Another action</button>
      <button ngbDropdownItem>Something else here</button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem>Separated link</button>
    </div>
  </li>

</nav>