<!-- <p>login works!</p> -->

<div class="login row">
  <div class="col-12 center head">
    <span class="">Login</span>
  </div>

  <div class="col-4 img-container">
    <img src="assets/securePayment.svg" alt="Login">
  </div>
  <div class="col-8 input-content d-flex column center mb-4">

    <h2 class="my-5">Welcome to Rasoiware</h2>

    <div class="form-floating inp-box mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating inp-box mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="signin-btn">
      <button type="submit" class="btn btn-primary mb-1">Sign In</button>
    </div>
    <div class="my-3 w-100">
      <span class="line-before-after">or</span>
    </div>
    <div class=" mb-3">

      <button class="outline-btn d-flex">
        <img src="assets/images/google.png" alt="Google Icon">
        <span>Sign in with Google</span>
      </button>

    </div>
    <div class="my-2">
      <span class="link">New to Rasoiware? Create Account</span>
    </div>
  </div>

</div>