<div class="row">
    <div class="col-6">
        <p>Modena 3-in-1 Cot Bed</p>
        <p>See More by Tutti Bambini</p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <p>4.8 | 891 Reviews</p>
        <img src="assets/prd.jpeg">
    </div>
    <div class="col-6">
        <p>2500 INR</p>
        <div class="btn-group">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Color
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Black</a></li>
                <li><a class="dropdown-item" href="#">Blue</a></li>
                <li><a class="dropdown-item" href="#">Red</a></li>
            </ul>
        </div>
        <p>Product Information</p>



    </div>
</div>