p{
  padding: 0px;
  margin: 0px;
}

.quick-container{
  border-radius: 10px;
}

.quick-header{
  background-color: #011627;
  min-height: 40px;
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
}

.quick-header .txt{
  width:95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#fff;
}

.quick-header .icn{
  font-size: 16px;
  color: #fff;
  margin-left: 0.5rem;
}

.quick-header .txt span{
  font-size: 14px;
  color:#fff;
}

.carousel:focus-visible{
  outline: none;
}

.tag-rating-wrap{
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.qty-tag{
  border: 1px solid;
  padding: 0.2rem;
  background-color: #ff595e;
  color: #fff;
  border-radius: 4px;
}

ngb-rating {
  color: #fcbf49;
  /* font-size: 80px; */
}

.quick-content{
  overflow-y: auto;
  max-height: 400px;
}

.filters{
  gap:4%;
  margin-bottom: 1rem;
}

.btn-drop{
  border: 1px solid #011627;
  padding-bottom: 0px;
}

.color-filter .head-txt{
  display: inline-flex;
  align-items: center;
  gap:4px
}

.color-filter .dropdown-item{
  padding-bottom: 0px;
}

.head-txt p{
  padding-top: 2px;
}

.color-filter .btn-drop.dropdown-toggle::after{
  vertical-align: 0.5em;
}
.size-filter .btn-drop{
  height: 26.7px;
}

.clr-circle{
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 50%;
  background-color: #2ec4b6;
}

.info-txt {
  /* overflow: hidden; */
  /* margin-bottom: 1rem;
  margin-top: 1rem; */
}

.info-desc{
  overflow: hidden;
}


.info-head{
  font-size: 14px;
}

.quick-footer{
  min-height: 40px;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  padding: 8px;
  background-color: #e5f9f8;
  border-radius: 0px 0px 10px 10px;
}

.price .txt{
  color:#2ec4b6;
  font-size: 20px;
}
.strike-txt{
  font-size: 10px;
  align-items: end;
  display: flex;
  text-decoration: line-through;
  padding-top: 6px;
  margin-left: 2px;
  color: #011627;

}

.cart-btn-wrap{
  display: flex;
  justify-content: end;
}

.cart-btn-wrap .btn{
  display: flex;
  align-items: center;
  border-radius: 16px;
  /* justify-content: space-between; */
  /* min-width: 86px; */
}

.cart-btn-wrap .btn-outline{
  background-color: #fff;
  color: #2ec4b6;
}

.cart-btn-wrap .btn-outline{
  background-color: #fff;
  color: #2ec4b6;
  border-color: #2ec4b6;
}
.cart-btn-wrap .btn-outline:active{
  background-color: #2ec4b6;
  color: #fff;
}

.cart-btn-wrap .btn-outline p:hover{
  text-decoration: underline;
}

.cart-btn-wrap .btn p{
  padding-top: 2px;
}

.brand-wrap{
  border-bottom: 1px solid #ddd;
}
.buy{
  font-size: 14px;
}

.discount-tag {
  width: auto;
  height: 12px;
  background-color: #ff595e;
  border-radius: 3px 4px 4px 3px;
  border-left: 1px solid #ff595e;
  margin-left: 10px;
  position: relative;
  color: white;
  font-size: 9px;
  padding: 0 4px 0 4px;
}

.discount-tag:before {
  content: "";
  position: absolute;
  left: -7px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 8px solid #ff595e;
}

.discount-tag:after {
	content: "";
}


@media (min-width:445.98px) and (max-width:576px) {

  .carousel{
    width: 80%;
    margin: auto;
  }

}

@media (min-width:767.98px) {

  p,.size-filter,span,ul{
    font-size: 12px;
  }

  i{
    font-size: 14px;
  }
  .bold {
    font-size: 16px;
  }
  .counter .cnt-txt{
    padding-top: 0.5rem;
  }
  .mx-h-60{
    max-height: 90px;
  }
  .quick-info{
    max-height: 250px;
    overflow: auto;
  }
}

@media (min-width:991.98px) {

  .quick-header{
    min-height: 50px;
  }

  p,.size-filter,span,ul{
    font-size: 14px;
  }

  i{
    font-size: 16px;
  }
  .bold, .quick-header .txt span {
    font-size: 18px;
  }
  .counter .cnt-txt{
    padding-top: 0.5rem;
  }
  .size-filter .btn-drop{
    height: 30.7px;
  }
  .mx-h-60{
    max-height: 88px;
  }
  .brand-wrap{
    border-bottom: none;
  }
  .price-wrap{
      border-bottom: 1px solid #ddd;
      margin-bottom: 1rem;
  }
  .price .txt{
    font-size: 22px;
  }
  .price .strike-txt{
    padding-left: 4px;
    font-size: 12px;
    padding-bottom: 2px;
  }
  .quick-info{
    max-height: 380px;
    overflow: auto;
  }
  .quick-header .icn i{
    font-size: 20px;
    padding-top: 4px;
    margin: auto;
  }
  .quick-header .icn:active{
    color: #2ec4b6;
  }
}
