.product-image{
    background-color: aqua;
}
.product-details{
    background-color:bisque;
}
.prdct-name{
    font-size: 24px;
    font-weight: bold;
}
.prdct-owner{
    font-size: 14px;
}
.product-info-heading{
    font-size: 16px;
    font-weight: bold;
}
.product-info-list{
    font-size: 14px;
}
.quantity-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-size: 20px;
}
.rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    margin: 0 4px;
}

.quantity-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    font-size: 30px;
}

.quantity-btn:hover {
    background-color: #f1f1f1;
}

.align-self-end {
    align-self: flex-end;
    margin-left: auto;
}

.btn-wide {
    width: 180px; /* Adjust the width as needed */
    font-size: 20px;
    border-radius: 16px;
}
.btn-wide1 {
    width: 360px; /* Adjust the width as needed */
    font-size: 20px;
    border-radius: 16px;
}



.quick-container{
  /* border-radius: 8px; */
  /* overflow: auto; */
}

.quick-header{
  background-color: #011627;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 8px 8px 0px 0px;

}

.quick-header .txt{
  width:95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#fff;
}

.quick-header .txt span{
  font-size: 18px;
  color:#fff;
}

.quick-content{
  overflow-y: auto;
  max-height: 510px;
}
