/* 
   .icon {
    font-size: 24px; 
  }
  .pincode{
    font-size: 18px;
  }
  .product-price{
    font-size: 18px;
  }
  .pincode-content{
    font-size: 18px;
    font-weight: bold;
  }
  .product-name{
    font-size: 18px;
    font-weight: bold;
  }
  .bg-light-gray {
    background-color: #f5f5f5;
    padding: 15px; 
    border-radius: 5px; 
    width: 50%;
    
} */
