@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Medium.ttf');
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('./assets/fonts/Nunito-Bold.ttf');
}

@font-face {
  font-family: 'Nunito-X-Bold';
  src: url('./assets/fonts/Nunito-ExtraBold.ttf');
}

html {
  font-size: 62.5%;
}
body{
  font-family:'Nunito';
}
h1, h2, h3, h4, h5 ,h6{
  font-family: 'Nunito-Bold';
}

.btn {
  font-size:100%;
}

/* .ml-2{
  margin-left: 2px;
}
.ml-6{
  margin-left: 6px;
}
.mr-6{
  margin-right: 6px;
}
.mt-6{
  margin-top: 6px;
}
.mb-6{
  margin-bottom: 6px;
}
.p-10{
  padding: 10px;
}
.p-2r{
  padding: 2rem;
}
.p-1r{
  padding: 1rem;
} */

.w-100{
  width: 100%;
}
.w-85{
  width: 85%;
}

.gap2p{
  gap: 2%;
}


.gap2{
  gap: 2rem;
}

.gap4{
  gap: 4rem;
}

.gap5{
  gap: 5rem;
}

.gap6{
  gap: 6rem;
}

.flex{
  display: flex;
}

.column{
  display: flex;
  flex-direction: column;
}

.start{
  display: flex;
  align-items: center;
  justify-content: start;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.end{
  display: flex;
  align-items: center;
  justify-content: end;
}

.around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.evenly{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  /* gap:1rem */
}
.nowrap{
  flex-wrap: nowrap;
}


.flex-gap{
  display: inline-flex;
  flex-wrap: wrap;
  gap:1rem;
}

.pointer{
  cursor: pointer;
}

.black{
  background-color: #0a100d;
}


.container{
  max-width: 1280px;
}

.bold{
  font-family: 'Nunito-Bold';
}
.bold-x{
  font-family: 'Nunito-X-Bold';
}

img{
  width:100%;
}

.cut-txt{
  color:tomato;
  font-size: 14px;
  text-decoration: line-through;
}

.row{
  margin: 0 !important;
}
