.border {
  border: 2px solid red;
}

.divider {
  height: 90%;
  width: 4px;
  background-color: rgba(89, 0, 255);
  margin: 16px 0;
  position: relative;
}
.imagePicker {
  width: 60%;
  /* height: 140px; */
  border-radius: 6px;
  border: 1px dashed grey;
  cursor: pointer;
}

.imageBox {
  width: 130px;
  min-height: 100px;
  max-height: 100px;
  background-color: #00000030;
  border: 2px solid #4286f4;
  border-radius: 8px;
  padding: 4px;
  position: relative;
}
/* .uploaded.imageBox{
  border-color: #0f9d58;
} */

.imageBox button{
  position: absolute;
  top: 5px;
  right: 0px;
  z-index: 1;
}

/* .imageBox .upload-icon{
  position: absolute;
  top: 18px;
  left: 18px;
  color:#0f9d58;
} */

.imageBox .imageBoxText {
  width: 200px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}

.img-container{
  height: 280px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap:8px;
  justify-content: flex-start;
  overflow-x: scroll;
}

.img-container-empty{
  height: 280px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-cnt{
  width: 100%;
  height:100%;
  border-radius: 4px;
  z-index: -99;
}

.file-upld-txt {
  font-weight: 900;
  color: grey;
}

.left-container {
  overflow-y: auto;
}

.right-container {
  overflow-y: auto;
}


.container{
  border: 2px solid #4286f4;
  border-radius: 8px;
  height: 110px;
  padding: 0px 10px;
}

.imgBox{
  width: 90px;
  height: 90px;
  border-radius: 6px;
}
