<div class="header">
  <div class="content end" id="mail">
    <i class="fa-solid fa-envelope cursor"></i>
    <h4 class="cursor">apex@gmail.com</h4>
  </div>
  <div class="content space-between" id="social">
    <div class="center mobile">
      <i class="fa-solid fa-phone-volume"></i>
      <h4>+91 8459435959</h4>
    </div>
    <div class="flex" id="social-icon">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>
  <div class="content start" id="login">
    <i routerLink="/login" class="fa-solid fa-circle-user"></i>
    <h4>Login</h4>
  </div>
</div>


<div class="logo-div">

  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="assets/logo.jpg" alt="My Image" class="logo">
    <h3 class="rasoiware-logo">Rasoiware</h3>
  </div>

  <div>
    <i class="fas fa-angle-down" style="color: #cb871c" layout="m-16"></i>
    <input type="text" class="search-input" placeholder="What you need?" fxWidth="220px" layout="p-5">
    <fa-icon [icon]="faSearch" layout="m-16" [styles]="{ stroke: '#cb871c', color: '#cb871c' }"></fa-icon>
  </div>

  <div fxLayoutAlign="center center">
    <i class="fas fa-shopping-cart" style=" color:#cb871c" layout="m-16"></i>

  </div>



</div>






<!-- <div class=" head">

      <div class="mail">
        <i class="fa-solid fa-envelope cursor"></i>
        <h4 class="cursor">apex@gmail.com</h4>
      </div>

      <span class="divider"></span>

      <div class="mob-social" layout="p-l-20">
        <div fxLayout="row" fxAlign="center center">
          <i class="fa-solid fa-phone-volume"></i>
          <h4>+91 8459435959</h4>
        </div>
        <div>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>

      <span class="divider"></span>

      <div class="login">
        <i routerLink="/login" class="fa-solid fa-circle-user"></i>
        <h4>Login</h4>
      </div>

  </div> -->













<!-- <div class="search-container" fxLayout="row" fxLayoutAlign="space-around center">
  <div fxLayout="row" fxLayoutAlign="start center">
    <img src="assets/logo.jpg" alt="My Image" class="logo">
    <h3 class="rasoiware-logo">Rasoiware</h3>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="dropdown-container" fxLayoutAlign="center center">
      <select class="custom-dropdown" fxWidth="160px">
        <option value="">All Categories</option>
        <option value="appliances">Appliances</option>
        <option value="cooking">Cooking</option>
        <option value="tableware">Tableware</option>
        <option value="storage">Storage</option>
      </select>
    </div>

    <div class="search-container" fxLayoutAlign="center center">
      <input type="text" class="search-input" placeholder="What you need?" fxWidth="280px" layout="p-5">
    </div>

    <div class="search-background" fxLayoutAlign="center center">
      <fa-icon [icon]="faSearch" size="xl" layout="m-16" [styles]="{ stroke: '#fff', color: '#fff' }"></fa-icon>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center">
    <a href="#">
      <i class="fas fa-shopping-cart" style="font-size: 24px; color: white;" layout="m-16"></i>
    </a>

  </div>
</div>


<div class="toolbar" fxLayoutAlign="space-around center">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/appliances">Appliances</a></li>
    <li><a routerLink="/cooking">Cooking</a></li>
    <li><a routerLink="/tableware">Tableware</a></li>
    <li><a routerLink="/storage">Storage</a></li>
    <li><a routerLink="/home-furnishing">Home Furnishing</a></li>
    <li><a routerLink="/decor">Decor</a></li>
    <li><a routerLink="/cutlery-tools">Cutlery & Tools</a></li>
    <li><a routerLink="/outdoor">Outdoor</a></li>
    <li><a routerLink="/cooktops">Cooktops</a></li>
  </ul>
</div>


<app-carousel
  [images]="['assets/carousel1.jpg','assets/carousel2.jpg', 'assets/carousel3.jpg','assets/carousel4.jpg']"></app-carousel>


<img src="assets/homeBanner.png" alt="My Image" class="home-banner">
<app-card></app-card>

<app-footer></app-footer> -->